<div class="layout-topbar">
    <a class="layout-topbar-logo">
        <img src="assets/images/dice.png" alt="logo">
        <span style="font-weight: 700;">DHADHU CAFE</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button pButton pRipple class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span class="mr-2"></span>{{user}}
        </button>
        <button pButton pRipple class="p-link layout-topbar-button" [routerLink]="'dashboard'">
            <i class="pi pi-home"></i>
            <span class="mr-2">Home</span>
        </button>
        <button pButton pRipple class="p-link layout-topbar-button" [routerLink]="'/'">
            <i class="pi pi-sign-out"></i>
            <span class="mr-2">Logout</span>
        </button>
    </div>
</div>