// .center {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.selected {
    font-size: 1rem;
    font-weight: 700;
    color: #2196d5;
    margin-top: 2px;
    margin-bottom: 2px;
}